.icon {
  display: inline-block;
  margin: 2px;
  height: 16px;
  width: 16px;
  background-color: #ccc;
}

/* ICONS */
.icon-erosion {
  background: url("../icons/erosion.png") center center no-repeat;
}
.icon-overgrazing {
  background: url("../icons/overgrazing.png") center center no-repeat;
}
.icon-cement {
  background: url("../icons/cement.png") center center no-repeat;
}
.icon-quality {
  background: url("../icons/quality.png") center center no-repeat;
}

/* MARKERS */
.leaflet-marker-icon {
  padding: 2px;
  text-align: center;
}
.marker-erosion {
  background: url("../icons/erosion.png") center center no-repeat;
}
.marker-overgrazing {
  background: url("../icons/overgrazing.png") center center no-repeat;
}
.marker-cement {
  background: url("../icons/cement.png") center center no-repeat;
}
.marker-quality {
  background: url("../icons/quality.png") center center no-repeat;
}
