.icon {
  display: inline-block;
  margin: 2px;
  height: 16px;
  width: 16px;
  background-color: #ccc;
}

/* ICONS */
.icon-erosion {
  background: url("../icons/erosion.png") center center no-repeat;
}
.icon-overgrazing {
  background: url("../icons/overgrazing.png") center center no-repeat;
}
.icon-parking {
  background: url("images/icons/parking.png") center center no-repeat;
}
.icon-drinking_water {
  background: url("images/icons/drinking_water.png") center center no-repeat;
}

/* MARKERS */
.leaflet-marker-icon {
  padding: 2px;
  text-align: center;
}
.marker-erosion {
  background: url("../icons/erosion.png") center center no-repeat;
}
.marker-overgrazing {
  background: url("../icons/overgrazing.png") center center no-repeat;
}
.marker-parking {
  background: url("images/markers/parking.png") center center no-repeat;
}
.marker-drinking_water {
  background: url("images/markers/drinking_water.png") center center no-repeat;
}
